body{
background:rgb(169, 150, 72) ;
}

 .GraphHead {
     
     color: white;
     background: rgb(22, 167, 85);

 }
 .Purposes {
     
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    
 }