.banner {
    justify-content: center;
    text-align: center;
    background-color: rgb(182, 161, 139);
    padding: 30px;
    margin-top: 10px;
    margin-inline: 15%;
    margin-bottom: 50px;
    border-radius: 5px;
    width: 70%;

    h1 {
        color: white;
    }

    p {
        color: white;
    }
}