@import 'bootstrap/scss/bootstrap';

* {
    color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    display: grid;
    min-height: 100vh;
    padding-bottom: 100px;

}